/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  background-color: #4E342E;
  font-family: 'MedievalSharp', cursive;
  user-select: none;
  font-size: 1.2rem;
}

:root {
  --border-radius-1: 0.4rem
}

input,
button,
textarea {
  margin: 0;
  border-radius: var(--radius-1);
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border: none;
  vertical-align: center;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadow {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);}

.fill-remaining-space {
  flex: 1 1 auto;
}
